<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mantou.meeting.mapper.RegisterMapper">
    <insert id="addEmployee" parameterType="org.mantou.meeting.model.Employee">
        insert into employee(employeename,username,phone,email,status,departmentid,password,role) values (
        #{employeename},#{username},#{phone},#{email},#{status},#{departmentid},#{password},#{role});
    </insert>
    <select id="selectByName" resultType="org.mantou.meeting.model.Employee">
        select * from employee where username=#{username};
    </select>
</mapper>